<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
<h2>Регистрация</h2>
<form action="#" th:action="@{/create_user}" th:object="${user}" method="post">
    <div>
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" th:field="*{username}" required />
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" th:field="*{password}" required />

    </div>
    <div>
        <label for="role">Имя пользователя:</label>
        <select th:field="*{role}" id="role">Выберите роль
            <option th:value="ROLE_USER">Пользователь</option>
            <option th:value="ROLE_ADMIN">Администратор</option>
            <option th:value="ROLE_WRITER">Редактор блога</option>
        </select>
    </div>
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>